.configure-chart {
  max-height: 500px;
}

.form-inline {
  padding-top: 2px;
  padding-bottom: 2px;
}

.form-inline label {
  justify-content: start;
}

.preview-root {
  border: 1px solid #dee2e6 !important;
  border-radius: 10px !important;
  cursor: pointer;
  .preview-container {
    border: none;
    padding: 12px;
    // border: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6 !important;
    border-radius: 0px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }
  .chart-title {
    margin: 10px;
    font-size: 16px;
  }
  transform: scale(1);
  transition: all 0.5s ease;
}

.preview-root:hover {
  transform: scale(0.98);
}

.preview-container-front-div {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: #00000000;

  transition: background 0.5s ease;
}

.preview-container-front-div:hover{
  // background: #000000bd;
}

h2 {
  font-size: 14px;
  font-weight: 500;
  margin-left: 0px;
}

.option-view {
  font-size: 12px;
  text-align: left;
  min-width: 300px;
  div {
    text-align: left;
  }
}

.card {
  border-radius: 0px;
  border: 0px;
  // border-bottom: 1px solid #dee2e6;
  margin-bottom: 1.25rem !important;
}

.app-root {
  height: 100%;

  .navbar {
    border-bottom: 3px solid black;
    height: 60px;

    .trade-mark {
      // color: white;
    }

    .navbar-brand {
      font-weight: 500;
    }

    .gallaryBtn{
      // color: white;
    }
  }

  .gallery-options {
    padding-bottom: 0px !important;
  }

  .card-columns {
    column-count: 3;
  }

  .control-pane {
    height: 100%;
    min-width: 300px;
    background: #f0f0f0;

    textarea {
      padding: 10px;
      padding-left: 30px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      background: none;
      border: none;
      outline: none;
      font-family: "Consolas", "Courier New", "monospace";
      font-weight: bold;
      resize: none;
      overflow-y: auto;
    }
  }

  .main-pane {
    overflow-y: auto;
    height: calc(100% - 50px);

    // .previews{
    //   display: flex;
    //   flex-direction: column;
    //   flex-wrap: wrap;
    //   align-content: flex-start;

    //   .preview {
    //     cursor: pointer;
    //     padding: 4px;
    //     background: white;
    //     display: block;
    //     text-align: center;
    //     border: #f3f2f2 solid 1px;
    //     flex-grow: 1;
    //     position: relative;
    //   }
    // }

    h1 {
      margin-left: 12px;
      margin-top: 12px;
    }
    .example-element-root {
      margin-top: 12px;
    }
    .example-element {
      padding: 10px;
      overflow-x: auto;

      .position-diff {
        color: #2d5699;
      }
      .color-diff {
        color: #adad2d;
      }
      .appearance-diff {
        color: #2c7c99;
      }
      .area-diff {
        color: #942a5d;
      }

      .result-group {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .chart {
          text-align: center;
          align-self: center;

          // border: 1px solid lightgray;

          rect.hbar {
            mask: url(#mask-stripe);
          }
        }
        .option-panel {
          border: solid lightgray 1px;
          height: 90%;
          border-radius: 10px;
        }
        .score {
          align-self: center;
          text-align: center;
          font-size: 2rem;
          color: #adadad;
          width: 200px;
        }

        button {
          background: red;
        }
      }
    }
  }
}
