.app-root {
  height: 100%;
  font-family: "Roboto Condensed";

  .header {
    // background: #424242;
    // background: #292929;
    // padding-left: 10px;
    // height: 50px;
    // line-height: 50px;
    // color: white;
    // font-weight: 500;
    // font-size: 1.7em;
    // text-align: center;
    // cursor: pointer;

    .trade-mark {
      color: #ffffff;
    }

    .gallaryBtn{
      color: white;
    }
  }


  .card-columns{
    column-count: 5;
  }

  .control-pane {
    height: 100%;
    min-width: 300px;
    background: #f0f0f0;

    textarea {
      padding: 10px;
      padding-left: 30px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      background: none;
      border: none;
      outline: none;
      font-family: "Consolas", "Courier New", "monospace";
      font-weight: bold;
      resize: none;
      overflow-y: auto;
    }
  }

  .main-pane {
    overflow-y: auto;
    height: calc(100% - 50px);

    .previews{
      align-content: center;
      display: flex;
      flex-wrap: wrap;
      display: grid;
      // grid-gap: 2px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      // grid-template-columns: repeat(auto-fill, minmax(580px, 1fr));

      .preview{
        // margin: 2px;
        cursor: pointer;
        padding: 4px;
        background: white;
        display: block;
        text-align: center;
        border: #f3f2f2 solid 1px;
        flex-grow: 1;
        position: relative;
      }

      .preview:hover{
        // box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
        // box-shadow: inset 0px 0px 0px 5px rgba(34, 147, 247, 0.64);
        box-shadow: inset 0px 0px 0px 5px #bfbfbf96;
      }
    }

    h1 {
      margin-left: 12px;
      margin-top: 12px;
    }
    .example-element-root {
      margin-top: 12px;
    }
    .example-element {
      padding: 10px;
      overflow-x: auto;

      .position-diff {
        color: #2d5699;
      }
      .color-diff {
        color: #adad2d;
      }
      .appearance-diff {
        color: #2c7c99;
      }
      .area-diff {
        color: #942a5d;
      }

      .result-group {
        display: grid;
        grid-template-columns: repeat(8, 1fr);

        .chart {
          text-align: center;
          align-self: center;

          /* for test */
          border: 1px solid lightgray;

          rect.hbar {
            mask: url(#mask-stripe);
          }
        }
        .option-panel {
          border: solid lightgray 1px;
          height: 90%;
          border-radius: 10px;
        }
        .score {
          align-self: center;
          text-align: center;
          font-size: 2rem;
          color: #adadad;
          width: 200px;
        }

        button {
          background: red;
        }
      }
    }
  }
}
