h1 {
  font-size: 1.4em;
  margin: 5px 0 5px 0;
  color: rgb(61, 88, 145);
}

h2 {
  font-size: 1.25em;
  margin: 4px 0 4px 0;
}

h3 {
  font-size: 1.1em;
  margin: 3px 0 3px 0;
}

#root {
  height: 100%;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
